@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lighten-blue: #69ffd7;
    --medium-blue: #3badd4;
    --dark-blue: #1b92c2;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1rem;
    color: #777;
    padding: 2rem;
}

html {
    scroll-behavior: smooth;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 255, 232, 0.8),
        rgba(40, 107, 208, 0.8)
        ) ,url("./img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}

.logo-img {
    height: 35px;
}

.heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-text {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;

    margin-bottom: 60px;
}

.heading-subtitle {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 25px;
    animation: 1s moveLeft ease-out;
}

.heading-subtext {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;
    animation: 1s moveRight ease-out;
}

@keyframes moveLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveBottom{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animate {
    animation: moveBottom .5s ease-out 0.75;
    animation-fill-mode: backwards;
}