@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lighten-blue: #69ffd7;
    --medium-blue: #3badd4;
    --dark-blue: #1b92c2;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.7;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    padding: 30px;
}

html {
    scroll-behavior: smooth;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 255, 232, 0.8),
        rgba(40, 187, 208, 0.8)
        ) ,url("./img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon();
}